extends ../../layouts/default
include ../../mixins/table-tree
block main
    h1 #{title}

    .card.mb-3
      .card-header Danh sách
      .card-body
        .row
          .col-8
          .col-4.text-right
              a(
                href=`${prefixAdmin}/product-categories/create`
                class="btn btn-outline-success"
              ) + Thêm mới

        table(
          class="table table-hover table-sm"
        )
          thead
            tr
              th STT
              th Hình ảnh
              th Tiêu đề
              th Vị trí
              th Trạng thái
              th Hành động

          tbody
            +table-tree(categories)