extends ../../layouts/default
include ../../mixins/box-head
include ../../mixins/product-item

block main
  .container.my-3
    +box-head("Sản phẩm nổi bật")

    .row
      each item in featuredProducts
        +product-item(item)

